:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f5f9;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

/* Start Sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

.sidebar>h3::before {
    border-radius: 10px;
    width: 80px;
    height: 2px;
    bottom: -25px;
}

.sidebar>h3::after {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    bottom: -34px;
    border: 4px solid #fff;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    transition: 0.3s;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}

@media (max-width:767px) {
    .sidebar {
        width: fit-content;
        padding: 10px;
    }

    .sidebar>h3 {
        margin-top: 20px;
        font-size: 15px;
    }

    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }

    .sidebar ul a {
        display: block;
        text-align: center;
    }

    .sidebar ul a i {
        margin: 0;
    }
}

/* End Sidebar */
/* Start Header */
.header .search::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.header .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.header .search input:focus {
    width: 180px;
}

.header .search input::placeholder {
    transition: 0.3s;
}

.header .search input:focus::placeholder {
    opacity: 0;
}

.header .icons .notifaction::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}

.header .icons img {
    width: 32px;
    border-radius: 100%;
}

.main-title {
    position: relative;
    padding: 0 0 10px 20px;
    width: fit-content;
    cursor: default;
    font-weight: 700;
}

.main-title::before,
.main-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 3px;
    border-radius: 10px;
    transition: 0.3s;
}

/* End Header */
.main-title::before {
    width: 140px;
    background-color: #fff;
}

.main-title::after {
    width: 80px;
    background-color: #000;
}

.main-title:hover::after {
    width: 150px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}

.welcome .text h2 {
    margin: 0 0 5px 0;
}

.welcome .img img {
    width: 200px;
}

.welcome>img {
    width: 64px;
    border: 4px solid #fff;
    border-radius: 100%;
    position: relative;
    margin: -32px 0 0 10px;
}

@media (max-width:767px) {
    .welcome>img {
        margin: -32px 0 0 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: 0.3s;
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

/* End Welcome Widget */
.wrapper>div:not(.welcome) {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}

.wrapper>div>h2 {
    margin: 0 0 5px 0;
}

.wrapper>div>span {
    display: block;
    color: var(--grey-color);
    font-size: 14px;
    margin-bottom: 20px;
}

/* Start Quick Draft */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft .save {
    cursor: pointer;
    margin: 0 0 15px auto;
    transition: 0.3s;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* End Quick Draft */
/* Start Yearly Targets */
.yearly-targets>div .icon {
    min-width: 80px;
    height: 80px;
    margin-right: 15px;
}

.yearly-targets>div.blue .icon,
.yearly-targets>div.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.yearly-targets>div.orange .icon,
.yearly-targets>div.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.yearly-targets>div.green .icon,
.yearly-targets>div.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

.yearly-targets .details .progress {
    height: 4px;
}

.yearly-targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.yearly-targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.yearly-targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
}

.yearly-targets .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.yearly-targets .details .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.yearly-targets .details .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.yearly-targets .details .progress>.green span::after {
    border-top-color: var(--green-color);
}

/* End Yearly Targets */